---
Title: Cake.Tfs
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Tfs Addin for <a href="http://cakebuild.net/" target="_blank">Cake</a> allows you to access Team Foundation Server or Visual Studio Team Services from Cake build scripts.
    </p>
</div>