---
Title: Cake.AzureDevOps
NoSidebar: true
NoContainer: true
NoGutter: true
---

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Cake.AzureDevOps</h1>
        <p>
            Cake addin for working with Azure DevOps.<br/>
        </p>
        <a class="btn btn-primary btn-lg" href="/Cake.AzureDevOps/docs/" role="button">Learn more</a>
        <a class="btn btn-primary btn-lg" href="/Cake.AzureDevOps/api/Cake.AzureDevOps/" role="button">API documentation</a>
    </div>
</div>

<div class="container">
    <p style="height: 35px;">
        <img alt="GitHub" src="https://img.shields.io/github/license/cake-contrib/Cake.AzureDevOps">
        <img alt="GitHub release (latest SemVer)" src="https://img.shields.io/github/v/release/cake-contrib/Cake.AzureDevOps">
        <img alt="Nuget" src="https://img.shields.io/nuget/dt/Cake.AzureDevOps">
    </p>

    <p>
        The Azure DevOps Addin for <a href="http://cakebuild.net/" target="_blank">Cake</a> allows you to access Azure DevOps from Cake build scripts.
    </p>

    <p>
        <h3>Features</h3>
        <ul class="feature-list">
            <li>Access to Azure Pipelines builds</li>
            <li>Access to Azure Repos pull requests</li>
        </ul>
    </p>
</div>