---
Title: Cake.Tfs
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        The Azure DevOps Addin for <a href="http://cakebuild.net/" target="_blank">Cake</a> allows you to access Azure DevOps or Azure DevOps Server from Cake build scripts.
    </p>
</div>