<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Ruleset for Cake.Tfs test cases" Description="Rules valid for Cake.Tfs test cases" ToolsVersion="14.0">
  <Include Path="Cake.Tfs.ruleset" Action="Default" />
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>